<a href="https://colab.research.google.com/github/blossomsu/CASA0025Building_Spatial_Applications_with_Big_Data/blob/main/Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Review

### W1 Data Import

1. 数据来源
如果是database：直接将database与DuckDBconnect; 如果是csv（等等）：新建空白database，create table

2. sqlmagic OR config.()

In [8]:
%pip install duckdb leafmap

#Library import
import duckdb
import leafmap #做交互式地图的 Python 库
import pandas as pd

con = duckdb.connect() #创建一个 DuckDB 连接对象（启动了一个临时数据库实例）
#把这个数据库的“连接对象”存在变量 con 里
#之后你对 con 做的所有操作，都是在跟 DuckDB 说话

#让 DuckDB 可以直接读网络上的文件
con.install_extension("httpfs")
con.load_extension("httpfs")

#给 DuckDB 加“空间数据类型 + 空间函数”
con.install_extension("spatial")
con.load_extension("spatial")

Requirement already satisfied: duckdb in /usr/local/lib/python3.12/dist-packages (1.4.4)
Requirement already satisfied: leafmap in /usr/local/lib/python3.12/dist-packages (0.59.0)
Requirement already satisfied: anywidget in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.9.21)
Requirement already satisfied: bqplot in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.12.45)
Requirement already satisfied: folium in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.20.0)
Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (from leafmap) (5.2.1)
Requirement already satisfied: geojson in /usr/local/lib/python3.12/dist-packages (from leafmap) (3.2.0)
Requirement already satisfied: geopandas in /usr/local/lib/python3.12/dist-packages (from leafmap) (1.1.2)
Requirement already satisfied: ipyevents in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.0.4)
Requirement already satisfied: ipyfilechooser in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.6.0)
Requirement already satisfied: ipyleaflet in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.20.0)
Requirement already satisfied: ipyvuetify in /usr/local/lib/python3.12/dist-packages (from leafmap) (1.11.3)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.12/dist-packages (from leafmap) (7.7.1)
Requirement already satisfied: maplibre in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.3.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from leafmap) (3.10.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from leafmap) (5.24.1)
Requirement already satisfied: pystac-client in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.9.0)
Requirement already satisfied: python-box in /usr/local/lib/python3.12/dist-packages (from leafmap) (7.3.2)
Requirement already satisfied: scooby in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.11.0)
Requirement already satisfied: whiteboxgui in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.3.0)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.12/dist-packages (from leafmap) (2025.11.0)
Requirement already satisfied: psygnal>=0.8.1 in /usr/local/lib/python3.12/dist-packages (from anywidget->leafmap) (0.15.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.12/dist-packages (from anywidget->leafmap) (4.15.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (6.17.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (5.7.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (3.6.10)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (3.0.16)
Requirement already satisfied: traittypes>=0.0.6 in /usr/local/lib/python3.12/dist-packages (from bqplot->leafmap) (0.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2025.3)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (0.8.2)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (3.1.6)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (3.20.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (4.67.2)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (0.12.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (26.0)
Requirement already satisfied: pyproj>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (3.7.2)
Requirement already satisfied: shapely>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (2.1.2)
Requirement already satisfied: jupyter-leaflet<0.21,>=0.20 in /usr/local/lib/python3.12/dist-packages (from ipyleaflet->leafmap) (0.20.0)
Requirement already satisfied: ipyvue<2,>=1.7 in /usr/local/lib/python3.12/dist-packages (from ipyvuetify->leafmap) (1.11.3)
Requirement already satisfied: eval-type-backport in /usr/local/lib/python3.12/dist-packages (from maplibre->leafmap) (0.3.1)
Requirement already satisfied: pydantic>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from maplibre->leafmap) (2.12.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (3.3.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->leafmap) (9.1.2)
Requirement already satisfied: pystac>=1.10.0 in /usr/local/lib/python3.12/dist-packages (from pystac[validation]>=1.10.0->pystac-client->leafmap) (1.14.3)
Requirement already satisfied: ipytree in /usr/local/lib/python3.12/dist-packages (from whiteboxgui->leafmap) (0.2.2)
Requirement already satisfied: whitebox in /usr/local/lib/python3.12/dist-packages (from whiteboxgui->leafmap) (2.3.6)
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.8.15)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (7.4.9)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (0.2.1)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (5.9.5)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (26.2.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (6.5.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2>=2.9->folium->leafmap) (3.0.3)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (0.4.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from pyogrio>=0.7.2->geopandas->leafmap) (2026.1.4)
Requirement already satisfied: jsonschema~=4.18 in /usr/local/lib/python3.12/dist-packages (from pystac[validation]>=1.10.0->pystac-client->leafmap) (4.26.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->leafmap) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (2.5.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.12/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.5.7)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown->leafmap) (2.8.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown->leafmap) (1.7.1)
Requirement already satisfied: Click>=6.0 in /usr/local/lib/python3.12/dist-packages (from whitebox->whiteboxgui->leafmap) (8.3.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets->leafmap) (0.8.5)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.30.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.12/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in /usr/local/lib/python3.12/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (5.9.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (25.1.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (5.10.4)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.17.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.1.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.24.1)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.3.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets->leafmap) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets->leafmap) (0.5.3)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from jupyter-core>=4.9.2->jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (4.5.1)
Requirement already satisfied: notebook-shim>=0.2.3 in /usr/local/lib/python3.12/dist-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.2.4)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.12/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.3.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.2.0)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.12/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.21.2)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.12/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (25.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.4.0)
Requirement already satisfied: jupyter-server<3,>=1.8 in /usr/local/lib/python3.12/dist-packages (from notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.14.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.0)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (4.12.1)
Requirement already satisfied: jupyter-events>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.4)
Requirement already satisfied: overrides>=5.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.7.0)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.9.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (4.0.0)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.0.3)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.1.1)
Requirement already satisfied: fqdn in /usr/local/lib/python3.12/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)
Requirement already satisfied: isoduration in /usr/local/lib/python3.12/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/lib/python3.12/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.0.0)

#### Downloading Data

In [9]:
url = "https://storage.googleapis.com/qm2/CASA0025/cities.zip"
leafmap.download_file(url, unzip=True, overwrite=True)

Downloading...
From: https://storage.googleapis.com/qm2/CASA0025/cities.zip
To: /content/cities.zip
100%|██████████| 214k/214k [00:00<00:00, 59.6MB/s]

Extracting files...

'/content/cities.zip'

In [55]:
con.sql("""
CREATE TABLE countries AS
SELECT *
FROM 'https://storage.googleapis.com/qm2/CASA0025/countries.csv';
""")

In [10]:
con.sql("SHOW TABLES;")

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ 0 rows  │
└─────────┘

In [11]:
con.sql("SHOW DATABASES;")

┌───────────────┐
│ database_name │
│    varchar    │
├───────────────┤
│ memory        │
└───────────────┘

In [12]:
url = "https://storage.googleapis.com/qm2/CASA0025/nyc_data.db.zip"
leafmap.download_file(url, unzip=True)

nyc_data.db.zip already exists. Skip downloading. Set overwrite=True to overwrite.

'/content/nyc_data.db.zip'

In [13]:
con1 = duckdb.connect("nyc_data.db")

con1.install_extension("httpfs")
con1.load_extension("httpfs")

con1.install_extension("spatial")
con1.load_extension("spatial")

In [14]:
con1.sql("SHOW TABLES;")

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ nyc_census_blocks   │
│ nyc_homicides       │
│ nyc_neighborhoods   │
│ nyc_streets         │
│ nyc_subway_stations │
└─────────────────────┘

In [15]:
con1.sql("SHOW DATABASES;")

┌───────────────┐
│ database_name │
│    varchar    │
├───────────────┤
│ nyc_data      │
└───────────────┘

In [28]:
con1.sql("DESCRIBE nyc_census_blocks;")

┌─────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│ column_name │ column_type │  null   │   key   │ default │  extra  │
│   varchar   │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ BLKID       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ POPN_TOTAL  │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ POPN_WHITE  │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ POPN_BLACK  │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ POPN_NATIV  │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ POPN_ASIAN  │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ POPN_OTHER  │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ BORONAME    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ geom        │ GEOMETRY    │ YES     │ NULL    │ NULL    │ NULL    │
└─────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

In [29]:
con1.sql("DESCRIBE nyc_neighborhoods;")

┌─────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│ column_name │ column_type │  null   │   key   │ default │  extra  │
│   varchar   │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ BORONAME    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ NAME        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ geom        │ GEOMETRY    │ YES     │ NULL    │ NULL    │ NULL    │
└─────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

#### Reading Data

In [16]:
con.read_csv('cities.csv')
#con.read_csv('cities.csv', parallel=True) #让 DuckDB 多线程读 CSV，对大文件更快

#con.read_json('cities.json')
#con.read_parquet('cities.parquet')

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │
│ int64 │     varchar      │ varchar │  double   │  double   │   int64    │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┤
│ 1249 rows (20 shown)                                          6 columns │
└─────────────────────────────────────────────────────────────────────────┘

In [17]:
con.sql("FROM ST_Read('cities.shp')")
#con.sql("FROM ST_Read('cities.geojson')")

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┬─────────────────────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │            geom             │
│ int64 │     varchar      │ varchar │  double   │  double   │   int64    │          geometry           │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┼─────────────────────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833)      │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │ POINT (30.275 0.671)        │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │ POINT (15.799 40.642)       │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │ POINT (14.656 41.563)       │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │ POINT (7.315 45.737)        │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │ POINT (19.949 60.097)       │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │ POINT (35.20621 31.90294)   │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │ POINT (12.44781 41.90001)   │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │ POINT (0.33328 46.58329)    │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │ POINT (3.08001 45.77998)    │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │            ·                │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │ POINT (139.75141 35.68502)  │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │ POINT (72.85699 19.01699)   │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │ POINT (2.33334 48.86669)    │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │ POINT (-70.66704 -33.45001) │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │ POINT (88.32468 22.49497)   │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │ POINT (-43.22502 -22.92502) │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │ POINT (-46.62502 -23.55868) │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │ POINT (151.18518 -33.92001) │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │ POINT (103.85582 1.29303)   │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │ POINT (114.18501 22.30498)  │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                        7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [18]:
con.sql("SELECT * FROM 'cities.csv'")

┌───────┬──────────────────┬─────────┬───────────┬───────────┬────────────┐
│  id   │       name       │ country │ latitude  │ longitude │ population │
│ int64 │     varchar      │ varchar │  double   │  double   │   int64    │
├───────┼──────────────────┼─────────┼───────────┼───────────┼────────────┤
│     1 │ Bombo            │ UGA     │    0.5833 │   32.5333 │      75000 │
│     2 │ Fort Portal      │ UGA     │     0.671 │    30.275 │      42670 │
│     3 │ Potenza          │ ITA     │    40.642 │    15.799 │      69060 │
│     4 │ Campobasso       │ ITA     │    41.563 │    14.656 │      50762 │
│     5 │ Aosta            │ ITA     │    45.737 │     7.315 │      34062 │
│     6 │ Mariehamn        │ ALD     │    60.097 │    19.949 │      10682 │
│     7 │ Ramallah         │ PSE     │  31.90294 │  35.20621 │      24599 │
│     8 │ Vatican City     │ VAT     │  41.90001 │  12.44781 │        832 │
│     9 │ Poitier          │ FRA     │  46.58329 │   0.33328 │      85960 │
│    10 │ Clermont-Ferrand │ FRA     │  45.77998 │   3.08001 │     233050 │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│     · │   ·              │  ·      │      ·    │      ·    │        ·   │
│  1240 │ Tokyo            │ JPN     │  35.68502 │ 139.75141 │   35676000 │
│  1241 │ Mumbai           │ IND     │  19.01699 │  72.85699 │   18978000 │
│  1242 │ Paris            │ FRA     │  48.86669 │   2.33334 │    9904000 │
│  1243 │ Santiago         │ CHL     │ -33.45001 │ -70.66704 │    5720000 │
│  1244 │ Kolkata          │ IND     │  22.49497 │  88.32468 │   14787000 │
│  1245 │ Rio de Janeiro   │ BRA     │ -22.92502 │ -43.22502 │   11748000 │
│  1246 │ Sao Paulo        │ BRA     │ -23.55868 │ -46.62502 │   18845000 │
│  1247 │ Sydney           │ AUS     │ -33.92001 │ 151.18518 │    4630000 │
│  1248 │ Singapore        │ SGP     │   1.29303 │ 103.85582 │    5183700 │
│  1249 │ Hong Kong        │ CHN     │  22.30498 │ 114.18501 │    7206000 │
├───────┴──────────────────┴─────────┴───────────┴───────────┴────────────┤
│ 1249 rows (20 shown)                                          6 columns │
└─────────────────────────────────────────────────────────────────────────┘

In [19]:
con.sql("CREATE TABLE cities AS SELECT * FROM ST_Read('cities.geojson')")
#把“空间文件的数据”真正存进了 DuckDB,从“分析引擎模式” → “数据库模式”的切换

In [41]:
con.sql("""
SELECT *
FROM cities
LIMIT 5
""").df()

,id,name,country,latitude,longitude,population,geom
0,1,Bombo,UGA,0.5833,32.5333,75000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,2,Fort Portal,UGA,0.6710,30.2750,42670,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,3,Potenza,ITA,40.6420,15.7990,69060,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3,4,Campobasso,ITA,41.5630,14.6560,50762,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,5,Aosta,ITA,45.7370,7.3150,34062,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

In [21]:
con.sql("""
DESCRIBE cities
""")

┌─────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│ column_name │ column_type │  null   │   key   │ default │  extra  │
│   varchar   │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ id          │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ name        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ country     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ latitude    │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ longitude   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ population  │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ geom        │ GEOMETRY    │ YES     │ NULL    │ NULL    │ NULL    │
└─────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┘

#### Data Frames

In [22]:
df = pd.read_csv('cities.csv')
df

        id            name country  latitude  longitude  population
0        1           Bombo     UGA   0.58330   32.53330       75000
1        2     Fort Portal     UGA   0.67100   30.27500       42670
2        3         Potenza     ITA  40.64200   15.79900       69060
3        4      Campobasso     ITA  41.56300   14.65600       50762
4        5           Aosta     ITA  45.73700    7.31500       34062
...    ...             ...     ...       ...        ...         ...
1244  1245  Rio de Janeiro     BRA -22.92502  -43.22502    11748000
1245  1246       Sao Paulo     BRA -23.55868  -46.62502    18845000
1246  1247          Sydney     AUS -33.92001  151.18518     4630000
1247  1248       Singapore     SGP   1.29303  103.85582     5183700
1248  1249       Hong Kong     CHN  22.30498  114.18501     7206000

[1249 rows x 6 columns]

### W2 SQL Basic

#### Column/Row Filtering

In [23]:
con.sql("""
SELECT name, country
FROM cities
WHERE country = 'CHN'
LIMIT 5
""")

┌──────────┬─────────┐
│   name   │ country │
│ varchar  │ varchar │
├──────────┼─────────┤
│ Macau    │ CHN     │
│ Xiamen   │ CHN     │
│ Nanchong │ CHN     │
│ Neijiang │ CHN     │
│ Nanyang  │ CHN     │
└──────────┴─────────┘

#### Sorting Results

In [24]:
con.sql("""
SELECT name, country
FROM cities
WHERE country = 'CHN'
ORDER BY name ASC
""")
#DESC

┌───────────┬─────────┐
│   name    │ country │
│  varchar  │ varchar │
├───────────┼─────────┤
│ Altay     │ CHN     │
│ Ankang    │ CHN     │
│ Anshan    │ CHN     │
│ Baoshan   │ CHN     │
│ Baotou    │ CHN     │
│ Beian     │ CHN     │
│ Beijing   │ CHN     │
│ Bose      │ CHN     │
│ Changchun │ CHN     │
│ Changsha  │ CHN     │
│    ·      │  ·      │
│    ·      │  ·      │
│    ·      │  ·      │
│ Yinchuan  │ CHN     │
│ Yining    │ CHN     │
│ Yueyang   │ CHN     │
│ Yulin     │ CHN     │
│ Yulin     │ CHN     │
│ Zaozhuang │ CHN     │
│ Zhangye   │ CHN     │
│ Zhanjiang │ CHN     │
│ Zhengzhou │ CHN     │
│ Zibo      │ CHN     │
├───────────┴─────────┤
│ 100 rows  2 columns │
│ (20 shown)          │
└─────────────────────┘

#### Unique Values

In [25]:
con.sql("""
SELECT DISTINCT country
FROM cities
ORDER BY name ASC
""")

┌────────────┐
│  country   │
│  varchar   │
├────────────┤
│ ARE        │
│ GHA        │
│ USA        │
│ LBY        │
│ SYR        │
│ JOR        │
│ AND        │
│ DZA        │
│ MDG        │
│ WSM        │
│  ·         │
│  ·         │
│  ·         │
│ SYC        │
│ AUT        │
│ LAO        │
│ LTU        │
│ NLD        │
│ PRK        │
│ IRN        │
│ ARM        │
│ HRV        │
│ PHL        │
├────────────┤
│  200 rows  │
│ (20 shown) │
└────────────┘

#### Aggregating Data

In [47]:
con.sql("""
SELECT COUNT(*) FROM cities;
""")

┌─────────────────────────┐
│ count(DISTINCT country) │
│          int64          │
├─────────────────────────┤
│                     200 │
└─────────────────────────┘

In [26]:
con.sql("""
SELECT country, COUNT(name) AS num
FROM cities
GROUP BY country
ORDER BY num
""")

┌─────────┬───────┐
│ country │  num  │
│ varchar │ int64 │
├─────────┼───────┤
│ GHA     │     1 │
│ HTI     │     1 │
│ TJK     │     1 │
│ VAT     │     1 │
│ CZE     │     1 │
│ LBR     │     1 │
│ LIE     │     1 │
│ IRL     │     1 │
│ BRB     │     1 │
│ MHL     │     1 │
│  ·      │     · │
│  ·      │     · │
│  ·      │     · │
│ MEX     │    27 │
│ FRA     │    30 │
│ AUS     │    36 │
│ ATA     │    40 │
│ CAN     │    45 │
│ BRA     │    46 │
│ IND     │    69 │
│ RUS     │    81 │
│ CHN     │   100 │
│ USA     │   114 │
├─────────┴───────┤
│    200 rows     │
│   (20 shown)    │
└─────────────────┘

In [49]:
con.sql("""
SELECT MAX(population) FROM cities;
""")

┌─────────────────┐
│ max(population) │
│      int32      │
├─────────────────┤
│        35676000 │
└─────────────────┘

In [50]:
con.sql("""
SELECT SUM(population) FROM cities;
""")

┌─────────────────┐
│ sum(population) │
│     int128      │
├─────────────────┤
│      1475534501 │
└─────────────────┘

In [51]:
con.sql("""SELECT AVG(population) FROM cities;""")

┌────────────────────┐
│  avg(population)   │
│       double       │
├────────────────────┤
│ 1181372.6989591673 │
└────────────────────┘

#### Joining Tables

In [40]:
con1.sql("""
SELECT DISTINCT c.boroname, n.name
FROM nyc_census_blocks c
LEFT JOIN nyc_neighborhoods n
ON c.boroname = n.boroname
LIMIT 15
""").df()

         BORONAME                      NAME
0   Staten Island                  Rosebank
1   Staten Island     Westerleigh-Castleton
2        Brooklyn           Carroll Gardens
3        Brooklyn        Bedford-Stuyvesant
4       Manhattan          Garment District
5        Brooklyn                Fort Green
6       Manhattan                   Clinton
7        Brooklyn                  Bushwick
8   Staten Island             Ardon Heights
9       Manhattan        Washington Heights
10  Staten Island              Tottensville
11       Brooklyn  Gravesend-Sheepshead Bay
12  Staten Island               South Beach
13       Brooklyn                 Greenwood
14  Staten Island                   Oakwood

#### String Manipulation

In [43]:
con1.sql("""
SELECT DISTINCT NAME
FROM nyc_subway_stations
WHERE NAME LIKE '%St%';
""")

┌───────────────┐
│     NAME      │
│    varchar    │
├───────────────┤
│ 138th St      │
│ 167th St      │
│ 170th St      │
│ 174th St      │
│ 176th St      │
│ 183rd St      │
│ 225th St      │
│ 231st St      │
│ 238th St      │
│ 242nd St      │
│    ·          │
│    ·          │
│    ·          │
│ 61st St       │
│ 80th St       │
│ 82nd St       │
│ 88th St       │
│ Beach 44th St │
│ Beach 90th St │
│ Beach 98th St │
│ Main St       │
│ St George     │
│ Stapleton     │
├───────────────┤
│   154 rows    │
│  (20 shown)   │
└───────────────┘

In [53]:
con.sql("""
SELECT * FROM cities WHERE country LIKE '_S_';
""").df()

,id,name,country,latitude,longitude,population,geom
0,7,Ramallah,PSE,31.90294,35.20621,24599,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,113,Palikir,FSM,6.91664,158.14997,4645,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,115,Agana,USA,13.47002,144.75002,122411,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3,124,San Bernardino,USA,34.12038,-117.30003,1745000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,125,Bridgeport,USA,41.17998,-73.19996,1018000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
...,...,...,...,...,...,...,...
129,1187,Chicago,USA,41.82999,-87.75005,8990000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
130,1192,Madrid,ESP,40.40003,-3.68335,5567000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
131,1223,Los Angeles,USA,33.98998,-118.17998,12500000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
132,1224,Washington D.C.,USA,38.89955,-77.00942,4338000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
133,1225,New York,USA,40.74998,-73.98002,19040000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

#### Filtering with Multiple Conditions

In [45]:
con1.sql("""
SELECT *
FROM nyc_subway_stations
WHERE BOROUGH = 'Brooklyn' AND NAME LIKE '%R%';
""").df()

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED,geom
0,119.0,411.0,Bay Ridge Ave,None,4th Ave,Bay Ridge Ave (R) Brooklyn,Bay Ridge Ave (R),Brooklyn,None,R,R,YELLOW,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
1,124.0,388.0,Beverly Rd,None,E 16th St,Beverly Rd (Q) Brooklyn,Beverly Rd (Q),Brooklyn,None,Q,Q,YELLOW,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
2,125.0,96.0,Beverly Rd,None,Nostrand Ave,"Beverly Rd (2,5) Brooklyn","Beverly Rd (2,5)",Brooklyn,None,"2,5","2,5",RED-GREEN,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
3,145.0,389.0,Cortelyou Rd,None,E 16th St,Cortelyou Rd (Q) Brooklyn,Cortelyou Rd (Q),Brooklyn,None,Q,Q,YELLOW,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
4,201.0,396.0,Neck Rd,None,E 16th St,Neck Rd (Q) Brooklyn,Neck Rd (Q),Brooklyn,None,Q,Q,YELLOW,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
5,220.0,228.0,Ralph Ave,None,Fulton St,Ralph Ave (C) Brooklyn,Ralph Ave (C),Brooklyn,None,C,C,BLUE,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
6,221.0,229.0,Rockaway Ave,None,Fulton St,Rockaway Ave (C) Brooklyn,Rockaway Ave (C),Brooklyn,None,C,C,BLUE,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
7,222.0,87.0,Rockaway Ave,None,Livonia Ave,Rockaway Ave (3) Brooklyn,Rockaway Ave (3),Brooklyn,None,3,3,RED-GREEN,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."
8,223.0,462.0,Rockaway Pky,Canarsie,Glenwood Rd,Rockaway Pky / Canarsie (L) Brooklyn,Rockaway Pky / Canarsie (L),Brooklyn,None,L,L,GREY,None,None,"[0, 0, 24, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,..."

The `HAVING` clause was added to SQL because the `WHERE` keyword could not be used with aggregate functions.

In [54]:
con.sql("""
SELECT COUNT(name), country
FROM cities
GROUP BY country
HAVING COUNT(name) > 40
ORDER BY COUNT(name) DESC;
""")

┌───────────────┬─────────┐
│ count("name") │ country │
│     int64     │ varchar │
├───────────────┼─────────┤
│           114 │ USA     │
│           100 │ CHN     │
│            81 │ RUS     │
│            69 │ IND     │
│            46 │ BRA     │
│            45 │ CAN     │
└───────────────┴─────────┘

#### Conditional statements

In [56]:
con.sql("""
SELECT name, population,
CASE
    WHEN population > 10000000 THEN 'Megacity'
    WHEN population > 1000000 THEN 'Large city'
    ELSE 'Small city'
END AS category
FROM cities;
""")

┌──────────────────┬────────────┬────────────┐
│       name       │ population │  category  │
│     varchar      │   int32    │  varchar   │
├──────────────────┼────────────┼────────────┤
│ Bombo            │      75000 │ Small city │
│ Fort Portal      │      42670 │ Small city │
│ Potenza          │      69060 │ Small city │
│ Campobasso       │      50762 │ Small city │
│ Aosta            │      34062 │ Small city │
│ Mariehamn        │      10682 │ Small city │
│ Ramallah         │      24599 │ Small city │
│ Vatican City     │        832 │ Small city │
│ Poitier          │      85960 │ Small city │
│ Clermont-Ferrand │     233050 │ Small city │
│   ·              │        ·   │    ·       │
│   ·              │        ·   │    ·       │
│   ·              │        ·   │    ·       │
│ Tokyo            │   35676000 │ Megacity   │
│ Mumbai           │   18978000 │ Megacity   │
│ Paris            │    9904000 │ Large city │
│ Santiago         │    5720000 │ Large city │
│ Kolkata          │   14787000 │ Megacity   │
│ Rio de Janeiro   │   11748000 │ Megacity   │
│ Sao Paulo        │   18845000 │ Megacity   │
│ Sydney           │    4630000 │ Large city │
│ Singapore        │    5183700 │ Large city │
│ Hong Kong        │    7206000 │ Large city │
├──────────────────┴────────────┴────────────┤
│ 1249 rows (20 shown)             3 columns │
└────────────────────────────────────────────┘

#### Saving Results / Droping Tables

In [57]:
con.sql("CREATE TABLE cities2 AS SELECT name FROM cities;")

In [58]:
con.sql("FROM cities2;")

┌──────────────────┐
│       name       │
│     varchar      │
├──────────────────┤
│ Bombo            │
│ Fort Portal      │
│ Potenza          │
│ Campobasso       │
│ Aosta            │
│ Mariehamn        │
│ Ramallah         │
│ Vatican City     │
│ Poitier          │
│ Clermont-Ferrand │
│   ·              │
│   ·              │
│   ·              │
│ Tokyo            │
│ Mumbai           │
│ Paris            │
│ Santiago         │
│ Kolkata          │
│ Rio de Janeiro   │
│ Sao Paulo        │
│ Sydney           │
│ Singapore        │
│ Hong Kong        │
├──────────────────┤
│    1249 rows     │
│    (20 shown)    │
└──────────────────┘

In [59]:
con.sql("""
DROP TABLE IF EXISTS cities_usa;
CREATE TABLE cities_usa AS (SELECT * FROM cities WHERE country = 'USA');
""")

In [62]:
con.sql("FROM cities_usa;").df()

,id,name,country,latitude,longitude,population,geom
0,115,Agana,USA,13.47002,144.75002,122411,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,124,San Bernardino,USA,34.12038,-117.30003,1745000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,125,Bridgeport,USA,41.17998,-73.19996,1018000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3,126,Rochester,USA,43.17043,-77.61995,755000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,160,International Falls,USA,48.60113,-93.41085,15240,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
...,...,...,...,...,...,...,...
109,1186,Atlanta,USA,33.83001,-84.39995,4506000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
110,1187,Chicago,USA,41.82999,-87.75005,8990000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
111,1223,Los Angeles,USA,33.98998,-118.17998,12500000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
112,1224,Washington D.C.,USA,38.89955,-77.00942,4338000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
113,1225,New York,USA,40.74998,-73.98002,19040000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

Use the `INSERT INTO` statement to insert rows into a table.

In [63]:
con.sql("""
INSERT INTO cities_usa (SELECT * FROM cities WHERE country = 'CAN');
""")

In [64]:
con.sql("FROM cities_usa;").df()

,id,name,country,latitude,longitude,population,geom
0,115,Agana,USA,13.47002,144.75002,122411,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,124,San Bernardino,USA,34.12038,-117.30003,1745000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,125,Bridgeport,USA,41.17998,-73.19996,1018000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3,126,Rochester,USA,43.17043,-77.61995,755000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,160,International Falls,USA,48.60113,-93.41085,15240,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
...,...,...,...,...,...,...,...
154,1002,Charlottetown,CAN,46.24928,-63.13133,42402,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
155,1171,Edmonton,CAN,53.55002,-113.49998,1058000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
156,1172,Montréal,CAN,45.50000,-73.58330,3678000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
157,1216,Vancouver,CAN,49.27342,-123.12164,2313328,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
158,1217,Toronto,CAN,43.69998,-79.42002,5213000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

#### Comments

In [66]:
con.sql("""
SELECT * FROM cities LIMIT 5 -- This is a comment;
""")

┌───────┬─────────────┬─────────┬──────────┬───────────┬────────────┬────────────────────────┐
│  id   │    name     │ country │ latitude │ longitude │ population │          geom          │
│ int32 │   varchar   │ varchar │  double  │  double   │   int32    │        geometry        │
├───────┼─────────────┼─────────┼──────────┼───────────┼────────────┼────────────────────────┤
│     1 │ Bombo       │ UGA     │   0.5833 │   32.5333 │      75000 │ POINT (32.5333 0.5833) │
│     2 │ Fort Portal │ UGA     │    0.671 │    30.275 │      42670 │ POINT (30.275 0.671)   │
│     3 │ Potenza     │ ITA     │   40.642 │    15.799 │      69060 │ POINT (15.799 40.642)  │
│     4 │ Campobasso  │ ITA     │   41.563 │    14.656 │      50762 │ POINT (14.656 41.563)  │
│     5 │ Aosta       │ ITA     │   45.737 │     7.315 │      34062 │ POINT (7.315 45.737)   │
└───────┴─────────────┴─────────┴──────────┴───────────┴────────────┴────────────────────────┘

In [67]:
con.sql("""
SELECT COUNT(name), country
FROM cities
/*
 * Adding Group by
 * Adding Order by
 */
GROUP BY country
ORDER BY COUNT(name) DESC
LIMIT 5;
""")

┌───────────────┬─────────┐
│ count("name") │ country │
│     int64     │ varchar │
├───────────────┼─────────┤
│           114 │ USA     │
│           100 │ CHN     │
│            81 │ RUS     │
│            69 │ IND     │
│            46 │ BRA     │
└───────────────┴─────────┘

### W3 Spatial SQL 1

#### Geometries

In [68]:
con.sql("""

CREATE or REPLACE TABLE samples (name VARCHAR, geom GEOMETRY);

/*
VARCHAR就是python里的str
*/

INSERT INTO samples VALUES
  ('Point', ST_GeomFromText('POINT(-100 40)')),
  ('Linestring', ST_GeomFromText('LINESTRING(0 0, 1 1, 2 1, 2 2)')),
  ('Polygon', ST_GeomFromText('POLYGON((0 0, 1 0, 1 1, 0 1, 0 0))')),
  ('PolygonWithHole', ST_GeomFromText('POLYGON((0 0, 10 0, 10 10, 0 10, 0 0),(1 1, 1 2, 2 2, 2 1, 1 1))')),
  ('Collection', ST_GeomFromText('GEOMETRYCOLLECTION(POINT(2 0),POLYGON((0 0, 1 0, 1 1, 0 1, 0 0)))'));

SELECT * FROM samples;

  """)

┌─────────────────┬───────────────────────────────────────────────────────────────────────┐
│      name       │                                 geom                                  │
│     varchar     │                               geometry                                │
├─────────────────┼───────────────────────────────────────────────────────────────────────┤
│ Point           │ POINT (-100 40)                                                       │
│ Linestring      │ LINESTRING (0 0, 1 1, 2 1, 2 2)                                       │
│ Polygon         │ POLYGON ((0 0, 1 0, 1 1, 0 1, 0 0))                                   │
│ PolygonWithHole │ POLYGON ((0 0, 10 0, 10 10, 0 10, 0 0), (1 1, 1 2, 2 2, 2 1, 1 1))    │
│ Collection      │ GEOMETRYCOLLECTION (POINT (2 0), POLYGON ((0 0, 1 0, 1 1, 0 1, 0 0))) │
└─────────────────┴───────────────────────────────────────────────────────────────────────┘

In [69]:
con.sql("SELECT name, ST_AsText(geom) AS geometry FROM samples;")

┌─────────────────┬───────────────────────────────────────────────────────────────────────┐
│      name       │                               geometry                                │
│     varchar     │                                varchar                                │
├─────────────────┼───────────────────────────────────────────────────────────────────────┤
│ Point           │ POINT (-100 40)                                                       │
│ Linestring      │ LINESTRING (0 0, 1 1, 2 1, 2 2)                                       │
│ Polygon         │ POLYGON ((0 0, 1 0, 1 1, 0 1, 0 0))                                   │
│ PolygonWithHole │ POLYGON ((0 0, 10 0, 10 10, 0 10, 0 0), (1 1, 1 2, 2 2, 2 1, 1 1))    │
│ Collection      │ GEOMETRYCOLLECTION (POINT (2 0), POLYGON ((0 0, 1 0, 1 1, 0 1, 0 0))) │
└─────────────────┴───────────────────────────────────────────────────────────────────────┘

In [70]:
con.sql("""

SELECT ST_X(geom), ST_Y(geom)
  FROM samples
  WHERE name = 'Point';

""")

┌────────────┬────────────┐
│ st_x(geom) │ st_y(geom) │
│   double   │   double   │
├────────────┼────────────┤
│     -100.0 │       40.0 │
└────────────┴────────────┘

In [71]:
con.sql("""

SELECT ST_Length(geom)
  FROM samples
  WHERE name = 'Linestring';

""")

┌───────────────────┐
│  st_length(geom)  │
│      double       │
├───────────────────┤
│ 3.414213562373095 │
└───────────────────┘

In [73]:
con.sql("""

SELECT name, ST_Area(geom)
  FROM samples
  WHERE name LIKE 'Polygon%';

""")

┌─────────────────┬───────────────┐
│      name       │ st_area(geom) │
│     varchar     │    double     │
├─────────────────┼───────────────┤
│ Polygon         │           1.0 │
│ PolygonWithHole │          99.0 │
└─────────────────┴───────────────┘

In [74]:
con1.sql("""
SELECT name, ST_GeometryType(geom), ST_Length(geom)
FROM nyc_streets
WHERE name = 'Pelham St';
""")

┌───────────┬───────────────────────┬───────────────────┐
│   NAME    │ st_geometrytype(geom) │  st_length(geom)  │
│  varchar  │     geometry_type     │      double       │
├───────────┼───────────────────────┼───────────────────┤
│ Pelham St │ MULTILINESTRING       │ 50.32314951660229 │
└───────────┴───────────────────────┴───────────────────┘

In [75]:
con1.sql("""
SELECT name, ST_AsGeoJSON(geom), ST_Length(geom)
FROM nyc_subway_stations
WHERE name = 'Broad St';
""")

┌──────────┬──────────────────────────────────────────────────────────────────────┬─────────────────┐
│   NAME   │                          st_asgeojson(geom)                          │ st_length(geom) │
│ varchar  │                                 json                                 │     double      │
├──────────┼──────────────────────────────────────────────────────────────────────┼─────────────────┤
│ Broad St │ {"type":"Point","coordinates":[583571.9059213118,4506714.341192182]} │             0.0 │
└──────────┴──────────────────────────────────────────────────────────────────────┴─────────────────┘

What is the most westerly subway station?

In [76]:
con1.sql("""
SELECT name, ST_X(geom)
FROM nyc_subway_stations
ORDER BY ST_X(geom) ASC
LIMIT 1;
""")

┌─────────────┬───────────────────┐
│    NAME     │    st_x(geom)     │
│   varchar   │      double       │
├─────────────┼───────────────────┤
│ Tottenville │ 563292.1172580556 │
└─────────────┴───────────────────┘

#### Spatial Relationships

In [77]:
con1.sql("""
SELECT ST_Distance(
  ST_GeomFromText('POINT(0 5)'),
  ST_GeomFromText('LINESTRING(-2 2, 2 2)')) as dist;
""")

┌────────┐
│  dist  │
│ double │
├────────┤
│    3.0 │
└────────┘

In [78]:
con1.sql("""
SELECT name
FROM nyc_streets
WHERE ST_DWithin(
        geom,
        ST_GeomFromText('POINT(583571 4506714)'),
        10
      );
""")

┌───────────┐
│   NAME    │
│  varchar  │
├───────────┤
│ Wall St   │
│ Broad St  │
│ Nassau St │
└───────────┘

In [80]:
con1.sql("""
SELECT Sum(popn_total)
  FROM nyc_census_blocks
  WHERE ST_DWithin(
   geom,
   ST_GeomFromText('LINESTRING(586782 4504202,586864 4504216)'),
   50
  );
  """)

┌─────────────────┐
│ sum(popn_total) │
│     int128      │
├─────────────────┤
│            1438 │
└─────────────────┘

## W4 Spatial SQL 2

What subway station is in \'Little Italy\'? What subway route is it on?

In [81]:
con1.sql("""
SELECT s.name, s.routes
FROM nyc_neighborhoods n
JOIN nyc_subway_stations s
ON ST_Contains(n.geom, s.geom)
WHERE n.name = 'Little Italy'
""")

┌───────────┬─────────┐
│   NAME    │ ROUTES  │
│  varchar  │ varchar │
├───────────┼─────────┤
│ Spring St │ 6       │
└───────────┴─────────┘

What are all the neighborhoods served by the 6-train?

In [82]:
con1.sql("""
SELECT DISTINCT n.name, n.boroname
FROM nyc_neighborhoods n
JOIN nyc_subway_stations s
ON ST_Contains(n.geom, s.geom)
WHERE strpos(s.routes,'6')>0;
""")

┌────────────────────┬───────────┐
│        NAME        │ BORONAME  │
│      varchar       │  varchar  │
├────────────────────┼───────────┤
│ Gramercy           │ Manhattan │
│ Mott Haven         │ The Bronx │
│ Murray Hill        │ Manhattan │
│ Soundview          │ The Bronx │
│ Greenwich Village  │ Manhattan │
│ Financial District │ Manhattan │
│ Parkchester        │ The Bronx │
│ Little Italy       │ Manhattan │
│ Chinatown          │ Manhattan │
│ Midtown            │ Manhattan │
│ Upper East Side    │ Manhattan │
│ Hunts Point        │ The Bronx │
│ East Harlem        │ Manhattan │
│ South Bronx        │ The Bronx │
│ Yorkville          │ Manhattan │
├────────────────────┴───────────┤
│ 15 rows              2 columns │
└────────────────────────────────┘

After 9/11, the \'Battery Park\' neighborhood was off limits for several days. How many people had to be evacuated?

In [83]:
con1.sql("""
SELECT SUM(c.POPN_TOTAL)
FROM nyc_census_blocks c
JOIN nyc_neighborhoods n
ON ST_Intersects(n.geom, c.geom)
WHERE n.name = 'Battery Park'
""")
#只要 SELECT 里有 SUM / COUNT / AVG / MAX / MIN：
#其他被 SELECT 出来的字段
#必须 出现在 GROUP BY 里
#或者被包在聚合函数里

┌───────────────────┐
│ sum(c.POPN_TOTAL) │
│      int128       │
├───────────────────┤
│             17153 │
└───────────────────┘

What neighborhood has the highest population density (persons/km2)?

In [84]:
con1.sql("""
SELECT n.name, SUM(c.POPN_TOTAL)/ST_Area(n.geom)*1000000 AS density
FROM nyc_census_blocks c
JOIN nyc_neighborhoods n
ON ST_Intersects(n.geom, c.geom)
GROUP BY n.name, n.geom
ORDER BY density DESC
LIMIT 1
""")

┌───────────────────┬──────────────────┐
│       NAME        │     density      │
│      varchar      │      double      │
├───────────────────┼──────────────────┤
│ North Sutton Area │ 68435.1328377268 │
└───────────────────┴──────────────────┘