# Week 2 Lab

**Datasets**:

The following datasets are used in this lab.

- [nyc_subway_stations.tsv](https://storage.googleapis.com/qm2/CASA0025/nyc_subway_stations.tsv)
- [nyc_neighborhoods.tsv](https://storage.googleapis.com/qm2/CASA0025/nyc_neighborhoods.tsv)

In [1]:
%pip install duckdb duckdb-engine jupysql

Requirement already satisfied: duckdb in /usr/local/lib/python3.12/dist-packages (1.3.2)
Collecting duckdb-engine
  Downloading duckdb_engine-0.17.0-py3-none-any.whl.metadata (8.4 kB)
Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (25.0)
Requirement already satisfied: sqlalchemy>=1.3.22 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (2.0.45)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.17.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.5.5)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.12/dist-packages (from jupysql) (25.20.2)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.27-py3-none-any.whl.metadata (532 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.3)
Collecting posthog>=3.0 (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-7.6.0-py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.14)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Collecting backoff>=1.10.0 (from posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2026.1.4)
Downloading duckdb_engine-0.17.0-py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 2.1 MB/s eta 0:00:00
Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 4.1 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 10.1 MB/s eta 0:00:00
Downloading ploomber_core-0.2.27-py3-none-any.whl (22 kB)
Downloading posthog-7.6.0-py3-none-any.whl (168 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 168.4/168.4 kB 11.9 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Installing collected packages: backoff, posthog, duckdb-engine, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 duckdb-engine-0.17.0 jupysql-0.11.1 jupysql-plugin-0.4.5 ploomber-core-0.2.27 posthog-7.6.0

In [2]:
import duckdb

%load_ext sql

In [3]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

## Question 1: Creating Tables

Create a database, then write a SQL query to create a table named `nyc_subway_stations` and load the data from the file `nyc_subway_stations.tsv` into it. Similarly, create a table named `nyc_neighborhoods` and load the data from the file `nyc_neighborhoods.tsv` into it.

In [4]:
%%sql
duckdb:///:memory:

INSTALL httpfs;
LOAD httpfs;

--%%sql
--ROLLBACK;

Empty DataFrame
Columns: [Success]
Index: []

In [10]:
%%sql

CREATE TABLE nyc_subway_stations AS
SELECT * FROM 'https://storage.googleapis.com/qm2/CASA0025/nyc_subway_stations.tsv';

Empty DataFrame
Columns: [Success]
Index: []

In [12]:
%%sql

SELECT * FROM nyc_subway_stations;

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED
0,1,376.0,Cortlandt St,None,Church St,"Cortlandt St (R,W) Manhattan","Cortlandt St (R,W)",Manhattan,None,"R,W","R,W",YELLOW,None,<NA>
1,2,2.0,Rector St,None,None,Rector St (1) Manhattan,Rector St (1),Manhattan,None,1,1,RED,None,<NA>
2,3,1.0,South Ferry,None,None,South Ferry (1) Manhattan,South Ferry (1),Manhattan,None,1,1,RED,None,<NA>
3,4,125.0,138th St,Grand Concourse,Grand Concourse,"138th St / Grand Concourse (4,5) Bronx","138th St / Grand Concourse (4,5)",Bronx,None,"4,5","4,5",GREEN,None,<NA>
4,5,126.0,149th St,Grand Concourse,Grand Concourse,149th St / Grand Concourse (4) Bronx,149th St / Grand Concourse (4),Bronx,None,4,"2,4,5",GREEN,express,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,487,909.0,JFK Terminal 8,None,None,"JFK Terminal 8, Queens",JFK Terminal 8,Queens,None,None,None,AIR-BLUE,None,<NA>
487,488,903.0,Federal Circle,Rental Car,None,"Federal Circle / Rental Car, Queens",Federal Circle / Rental Car,Queens,None,None,None,AIR-BLUE,None,<NA>
488,489,902.0,Long Term Parking,None,None,"Long Term Parking, Queens",Long Term Parking,Queens,None,None,None,AIR-BLUE,None,<NA>
489,490,901.0,Howard Beach,None,159th Ave,"Howard Beach, Queens",Howard Beach,Queens,None,None,A,AIR-BLUE,None,<NA>
490,491,900.0,Jamaica,Sutphin Blvd,Sutphin Blvd,"Jamaica / Sutphin Blvd, Queens",Jamaica / Sutphin Blvd,Queens,None,None,"E,J,Z",AIR-BLUE,None,<NA>

In [11]:
%%sql

CREATE TABLE nyc_neighborhoods AS
SELECT * FROM 'https://storage.googleapis.com/qm2/CASA0025/nyc_neighborhoods.tsv';

Empty DataFrame
Columns: [Success]
Index: []

In [21]:
%%sql

SELECT * FROM nyc_neighborhoods;

          BORONAME                      NAME
0         Brooklyn               Bensonhurst
1        Manhattan              East Village
2        Manhattan              West Village
3        The Bronx              Throggs Neck
4        The Bronx  Wakefield-Williamsbridge
..             ...                       ...
124       Brooklyn                  Red Hook
125         Queens   Douglastown-Little Neck
126         Queens                Whitestone
127         Queens                  Steinway
128  Staten Island                  Rosebank

[129 rows x 2 columns]

## Question 2: Column Filtering

Write a SQL query to display the `ID`, `NAME`, and `BOROUGH` of each subway station in the `nyc_subway_stations` dataset.

In [14]:
%%sql

SELECT ID, NAME, BOROUGH FROM nyc_subway_stations;

        ID               NAME    BOROUGH
0    376.0       Cortlandt St  Manhattan
1      2.0          Rector St  Manhattan
2      1.0        South Ferry  Manhattan
3    125.0           138th St      Bronx
4    126.0           149th St      Bronx
..     ...                ...        ...
486  909.0     JFK Terminal 8     Queens
487  903.0     Federal Circle     Queens
488  902.0  Long Term Parking     Queens
489  901.0       Howard Beach     Queens
490  900.0            Jamaica     Queens

[491 rows x 3 columns]

## Question 3: Row Filtering

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are located in the borough of Manhattan.

In [15]:
%%sql

SELECT * FROM nyc_subway_stations
WHERE BOROUGH ='Manhattan'

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED
0,1,376.0,Cortlandt St,None,Church St,"Cortlandt St (R,W) Manhattan","Cortlandt St (R,W)",Manhattan,None,"R,W","R,W",YELLOW,None,<NA>
1,2,2.0,Rector St,None,None,Rector St (1) Manhattan,Rector St (1),Manhattan,None,1,1,RED,None,<NA>
2,3,1.0,South Ferry,None,None,South Ferry (1) Manhattan,South Ferry (1),Manhattan,None,1,1,RED,None,<NA>
3,25,296.0,W 4th St,None,6th Ave,"W 4th St (B,D,F,V) Manhattan","W 4th St (B,D,F,V)",Manhattan,None,"B,D,F,V","A,B,C,D,E,F,V",ORANGE,express,<NA>
4,242,121.0,103rd St,None,Lexington Ave,103rd St (6) Manhattan,103rd St (6),Manhattan,None,6,6,GREEN,None,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,374,72.0,Wall St,None,William St,"Wall St (2,3) Manhattan","Wall St (2,3)",Manhattan,None,"2,3","2,3",RED,express,<NA>
136,375,378.0,Whitehall St,South Ferry,Water St,"Whitehall St / South Ferry (R,W) Manhattan","Whitehall St / South Ferry (R,W)",Manhattan,None,"R,W","R,W",YELLOW,None,<NA>
137,383,491.0,Cortlandt St,None,West Broadway,Cortlandt St (1) Manhattan,Cortlandt St (1),Manhattan,None,1,1,CLOSED,None,True
138,480,492.0,World Trade Center,Chambers St,Church St,World Trade Center / Chambers St (E) Manhattan,World Trade Center / Chambers St (E),Manhattan,None,E,"A,C,E,2,3",BLUE,None,<NA>
139,481,99.0,Times Sq,42nd St,7th Ave/Broadway,"Times Sq (1,2,3) Manhattan","Times Sq / 42nd St (1,2,3)",Manhattan,None,"1,2,3","A,C,E,N,Q,R,S,W,1,2,3,7",RED,express,<NA>

## Question 4: Sorting Results

Write a SQL query to list the subway stations in the `nyc_subway_stations` dataset in alphabetical order by their names.

In [16]:
%%sql

SELECT * FROM nyc_subway_stations
ORDER BY NAME;

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED
0,244,22.0,103rd St,None,Broadway,103rd St (1) Manhattan,103rd St (1),Manhattan,None,1,1,RED,None,<NA>
1,243,192.0,103rd St,None,Central Park West,"103rd St (A,B,C) Manhattan","103rd St (A,B,C)",Manhattan,None,"A,B,C","A,B,C",BLUE-ORANGE,None,<NA>
2,242,121.0,103rd St,None,Lexington Ave,103rd St (6) Manhattan,103rd St (6),Manhattan,None,6,6,GREEN,None,<NA>
3,376,174.0,103rd St,Corona Plaza,Roosevelt Ave,103rd St / Corona Plaza (7) Queens,103rd St / Corona Plaza (7),Queens,None,7,7,PURPLE,None,<NA>
4,377,239.0,104th St,None,Liberty Ave,104th St (A) Queens,104th St (A),Queens,None,A,A,BLUE,None,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,72,138.0,Woodlawn,None,Jerome Ave,Woodlawn (4) Bronx,Woodlawn (4),Bronx,None,4,4,GREEN,None,<NA>
487,480,492.0,World Trade Center,Chambers St,Church St,World Trade Center / Chambers St (E) Manhattan,World Trade Center / Chambers St (E),Manhattan,None,E,"A,C,E,2,3",BLUE,None,<NA>
488,240,334.0,Wyckoff Ave,Myrtle Ave,Myrtle Ave,Wyckoff Ave / Myrtle Ave (M) Brooklyn,Wyckoff Ave / Myrtle Ave (M),Brooklyn,None,M,"L,M",BROWN,None,<NA>
489,241,303.0,York St,None,Jay St,York St (F) Brooklyn,York St (F),Brooklyn,None,F,F,ORANGE,None,<NA>
490,73,152.0,Zerega Ave,None,Westchester Ave,Zerega Ave (6) Bronx,Zerega Ave (6),Bronx,None,6,6,GREEN,None,<NA>

## Question 5: Unique Values

Write a SQL query to find the distinct boroughs represented in the `nyc_subway_stations` dataset.

In [17]:
%%sql
SELECT DISTINCT BOROUGH FROM nyc_subway_stations;

         BOROUGH
0       Brooklyn
1         Queens
2      Manhattan
3          Bronx
4  Staten Island

## Question 6: Counting Rows

Write a SQL query to count the number of subway stations in each borough in the `nyc_subway_stations` dataset.

In [18]:
%%sql

SELECT COUNT(NAME)
FROM nyc_subway_stations
GROUP BY BOROUGH

   count("NAME")
0            170
1             90
2            140
3             69
4             22

## Question 7: Aggregating Data

Write a SQL query to list the number of subway stations in each borough, sorted in descending order by the count.

In [20]:
%%sql

SELECT COUNT(NAME)
FROM nyc_subway_stations
GROUP BY BOROUGH
ORDER BY COUNT(NAME) DESC;

   count("NAME")
0            170
1            140
2             90
3             69
4             22

## Question 8: Joining Tables

Write a SQL query to join the `nyc_subway_stations` and `nyc_neighborhoods` datasets on the borough name, displaying the subway station name and the neighborhood name.

In [22]:
%%sql

SELECT nyc_subway_stations.NAME , BOROUGH, nyc_neighborhoods.NAME
FROM nyc_subway_stations
LEFT JOIN nyc_neighborhoods ON nyc_subway_stations.BOROUGH = nyc_neighborhoods.BORONAME;

                 NAME    BOROUGH     NAME_1
0        Cortlandt St  Manhattan  Chinatown
1           Rector St  Manhattan  Chinatown
2         South Ferry  Manhattan  Chinatown
3            W 4th St  Manhattan  Chinatown
4             15th St   Brooklyn   Red Hook
...               ...        ...        ...
11122     Tremont Ave      Bronx       None
11123  Westchester Sq      Bronx       None
11124    Whitlock Ave      Bronx       None
11125        Woodlawn      Bronx       None
11126      Zerega Ave      Bronx       None

[11127 rows x 3 columns]

## Question 9: String Manipulation

Write a SQL query to display the names of subway stations in the `nyc_subway_stations` dataset that contain the word "St" in their names.

In [23]:
%%sql

SELECT NAME
FROM nyc_subway_stations
WHERE NAME LIKE '%St%';

              NAME
0     Cortlandt St
1        Rector St
2         138th St
3         149th St
4         149th St
..             ...
225  Beach 98th St
226        Main St
227    Steinway St
228      St George
229      Stapleton

[230 rows x 1 columns]

## Question 10: Filtering with Multiple Conditions

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are in the borough of Brooklyn and have routes that include the letter "R".

In [24]:
%%sql

SELECT *
FROM nyc_subway_stations
WHERE BOROUGH = 'Brooklyn' AND NAME LIKE '%R%';

,OBJECTID,ID,NAME,ALT_NAME,CROSS_ST,LONG_NAME,LABEL,BOROUGH,NGHBHD,ROUTES,TRANSFERS,COLOR,EXPRESS,CLOSED
0,119,411.0,Bay Ridge Ave,None,4th Ave,Bay Ridge Ave (R) Brooklyn,Bay Ridge Ave (R),Brooklyn,None,R,R,YELLOW,None,<NA>
1,124,388.0,Beverly Rd,None,E 16th St,Beverly Rd (Q) Brooklyn,Beverly Rd (Q),Brooklyn,None,Q,Q,YELLOW,None,<NA>
2,125,96.0,Beverly Rd,None,Nostrand Ave,"Beverly Rd (2,5) Brooklyn","Beverly Rd (2,5)",Brooklyn,None,"2,5","2,5",RED-GREEN,None,<NA>
3,145,389.0,Cortelyou Rd,None,E 16th St,Cortelyou Rd (Q) Brooklyn,Cortelyou Rd (Q),Brooklyn,None,Q,Q,YELLOW,None,<NA>
4,201,396.0,Neck Rd,None,E 16th St,Neck Rd (Q) Brooklyn,Neck Rd (Q),Brooklyn,None,Q,Q,YELLOW,None,<NA>
5,220,228.0,Ralph Ave,None,Fulton St,Ralph Ave (C) Brooklyn,Ralph Ave (C),Brooklyn,None,C,C,BLUE,None,<NA>
6,221,229.0,Rockaway Ave,None,Fulton St,Rockaway Ave (C) Brooklyn,Rockaway Ave (C),Brooklyn,None,C,C,BLUE,None,<NA>
7,222,87.0,Rockaway Ave,None,Livonia Ave,Rockaway Ave (3) Brooklyn,Rockaway Ave (3),Brooklyn,None,3,3,RED-GREEN,None,<NA>
8,223,462.0,Rockaway Pky,Canarsie,Glenwood Rd,Rockaway Pky / Canarsie (L) Brooklyn,Rockaway Pky / Canarsie (L),Brooklyn,None,L,L,GREY,None,<NA>

Once you've completed your attempt, you can check your answers [here](https://github.com/oballinger/CASA0025/blob/main/notebooks/W02_lab_solution.ipynb).